@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Karla:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --black: #1a2e3b;
  --red: #d94848;
  --green: #5cb567;
  --white: #fcfcfc;
  --grey: #667d8c;
  --lg-text: 30px;
  --md-text: 27px;
  --sm-text: 15px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

/* header */

header {
  font-size: var(--lg-text);
  margin: 2rem;
}

.header-icon {
  margin-right: 1rem;
}

.header-link {
  color: var(--black);
  text-decoration: none;
}

/* scanner */

.scanner-container {
  width: 100%;
  text-align: center;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* list */

.list-container {
  margin: 5rem 10rem;
}

.banned-ingredient {
  color: var(--red);
}

.ingredient {
  margin-right: 2rem;
  font-size: var(--md-text);
}

.reset-container {
  height: 3rem;
}

.reset {
  color: var(--grey);
  display: block;
  float: right;
  cursor: pointer;
}

.reset > i {
  margin-left: 1rem;
}

.link {
  font-size: var(--sm-text);
}