@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Karla:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --black: #1a2e3b;
  --red: #d94848;
  --green: #5cb567;
  --white: #fcfcfc;
  --lg-text: 30px;
  --md-text: 25px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--white);
}

/* header */

header {
  font-size: var(--lg-text);
  margin: 2rem;
}

.header-icon {
  margin-right: 1rem;
}

/* scanner */


/* list */

.list-container {
  margin: 5rem 10rem;
}

.banned-ingredient {
  color: var(--red);
}

.ingredient {
  margin-right: 1rem;
  font-size: var(--md-text);
}